
.labels {
   color: red;
   background-color: white;
   border: 2px solid black;
   font-family: Tahoma, "Arial", sans-serif;
   font-size: 10px;
   text-align: center;
   width: 50px;
   white-space: nowrap;
    opacity: 0.5;
}

.line-labels {
   color: black;
   font-family: Tahoma, "Arial", sans-serif;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   width: 200px;
   white-space: nowrap;
    opacity: 0.5;
}

.good-report-labels {
   color: black;
   background-color: white;
   border: 2px solid #ffafaf;
   font-family: Tahoma, "Arial", sans-serif;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   width: 200px;
   white-space: nowrap;
    opacity: 1;
}

#infoWindow {
    min-width: 150px;
    max-width: 600px;
}