<div>
    <button id='btn_test' class='btn btn-default' onclick="openwindow()"> پنجره</button>


    <img title="" alt=@CaptionResource.AppName src="@Url.Content("~/Content/img/logo.png")" style="max-width: 100%; max-height: 100%;" >

</div>
