Source/R_and_D/V0/Map/bin/Antlr3.Runtime.dll
Source/R_and_D/V0/Map/bin/Antlr3.Runtime.pdb
Source/R_and_D/V0/Map/bin/Autofac.Integration.Mvc.dll
Source/R_and_D/V0/Map/bin/Autofac.Integration.Mvc.xml
Source/R_and_D/V0/Map/bin/Autofac.Integration.WebApi.dll
Source/R_and_D/V0/Map/bin/Autofac.Integration.WebApi.xml
Source/R_and_D/V0/Map/bin/Autofac.dll
Source/R_and_D/V0/Map/bin/Autofac.xml
Source/R_and_D/V0/Map/bin/Elmah.Mvc.dll
Source/R_and_D/V0/Map/bin/Elmah.dll
Source/R_and_D/V0/Map/bin/EntityFramework.SqlServer.dll
Source/R_and_D/V0/Map/bin/EntityFramework.SqlServer.xml
Source/R_and_D/V0/Map/bin/EntityFramework.dll
Source/R_and_D/V0/Map/bin/EntityFramework.xml
Source/R_and_D/V0/Map/bin/Jmelosegui.Mvc.GoogleMap.dll
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.Core.dll
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.Core.xml
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.Owin.dll
Source/R_and_D/V0/Map/bin/Microsoft.AspNet.Identity.Owin.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Host.SystemWeb.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Host.SystemWeb.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Cookies.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Cookies.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Facebook.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Facebook.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Google.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Google.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.OAuth.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.OAuth.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Twitter.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.Twitter.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.Security.xml
Source/R_and_D/V0/Map/bin/Microsoft.Owin.dll
Source/R_and_D/V0/Map/bin/Microsoft.Owin.xml
Source/R_and_D/V0/Map/bin/Microsoft.Web.Infrastructure.dll
Source/R_and_D/V0/Map/bin/Newtonsoft.Json.dll
Source/R_and_D/V0/Map/bin/Newtonsoft.Json.xml
Source/R_and_D/V0/Map/bin/Owin.dll
Source/R_and_D/V0/Map/bin/System.Net.Http.Formatting.dll
Source/R_and_D/V0/Map/bin/System.Net.Http.Formatting.xml
Source/R_and_D/V0/Map/bin/System.Web.Helpers.dll
Source/R_and_D/V0/Map/bin/System.Web.Helpers.xml
Source/R_and_D/V0/Map/bin/System.Web.Http.Owin.dll
Source/R_and_D/V0/Map/bin/System.Web.Http.Owin.xml
Source/R_and_D/V0/Map/bin/System.Web.Http.WebHost.dll
Source/R_and_D/V0/Map/bin/System.Web.Http.WebHost.xml
Source/R_and_D/V0/Map/bin/System.Web.Http.dll
Source/R_and_D/V0/Map/bin/System.Web.Http.xml
Source/R_and_D/V0/Map/bin/System.Web.Mvc.dll
Source/R_and_D/V0/Map/bin/System.Web.Mvc.xml
Source/R_and_D/V0/Map/bin/System.Web.Optimization.dll
Source/R_and_D/V0/Map/bin/System.Web.Optimization.xml
Source/R_and_D/V0/Map/bin/System.Web.Razor.dll
Source/R_and_D/V0/Map/bin/System.Web.Razor.xml
Source/R_and_D/V0/Map/bin/System.Web.WebPages.Deployment.dll
Source/R_and_D/V0/Map/bin/System.Web.WebPages.Deployment.xml
Source/R_and_D/V0/Map/bin/System.Web.WebPages.Razor.dll
Source/R_and_D/V0/Map/bin/System.Web.WebPages.Razor.xml
Source/R_and_D/V0/Map/bin/System.Web.WebPages.dll
Source/R_and_D/V0/Map/bin/System.Web.WebPages.xml
Source/R_and_D/V0/Map/bin/TrackingMap.Service.dll
Source/R_and_D/V0/Map/bin/TrackingMap.Service.pdb
Source/R_and_D/V0/Map/bin/TrackingMap.dll
Source/R_and_D/V0/Map/bin/TrackingMap.dll.config
Source/R_and_D/V0/Map/bin/TrackingMap.pdb
Source/R_and_D/V0/Map/bin/WebGrease.dll
Source/R_and_D/V0/Map/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/R_and_D/V0/Map/obj/Debug/TempPE/CaptionResource.Designer.cs.dll
Source/R_and_D/V0/Map/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/R_and_D/V0/Map/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/R_and_D/V0/Map/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.CaptionResource.resources
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.csproj.FileListAbsolute.txt
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.csproj.GenerateResource.Cache
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.csprojResolveAssemblyReference.cache
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.dll
Source/R_and_D/V0/Map/obj/Debug/TrackingMap.pdb
Source/R_and_D/V0/Map.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/R_and_D/V0/Map.Service/obj/Debug/Map.Service.csproj.FileListAbsolute.txt
Source/R_and_D/V0/Map.Service/obj/Debug/Map.Service.dll
Source/R_and_D/V0/Map.Service/obj/Debug/Map.Service.pdb
Source/R_and_D/V0/Map.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/R_and_D/V0/Map.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/R_and_D/V0/Map.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/R_and_D/V0/Map.Service/obj/Debug/TrackingMap.Service.csproj.FileListAbsolute.txt
Source/R_and_D/V0/Map.Service/obj/Debug/TrackingMap.Service.csprojResolveAssemblyReference.cache
Source/R_and_D/V0/Map.Service/obj/Debug/TrackingMap.Service.dll
Source/R_and_D/V0/Map.Service/obj/Debug/TrackingMap.Service.pdb
Source/R_and_D/V0/Map.Service/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Source/R_and_D/V0/Map.Service/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/R_and_D/V0/Map.Service/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/R_and_D/V0/Map.Service/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/R_and_D/V0/Map.Service/obj/Release/TrackingMap.Service.csproj.FileListAbsolute.txt
Source/R_and_D/V0/Map.Service/obj/Release/TrackingMap.Service.csprojResolveAssemblyReference.cache
Source/R_and_D/V0/Map.Service/obj/Release/TrackingMap.Service.dll
Source/R_and_D/V0/Map.Service/obj/Release/TrackingMap.Service.pdb
Source/R_and_D/V0/Map.Service/bin/Debug/CipherTools.dll
Source/R_and_D/V0/Map.Service/bin/Debug/EntityFramework.SqlServer.dll
Source/R_and_D/V0/Map.Service/bin/Debug/EntityFramework.SqlServer.xml
Source/R_and_D/V0/Map.Service/bin/Debug/EntityFramework.dll
Source/R_and_D/V0/Map.Service/bin/Debug/EntityFramework.xml
Source/R_and_D/V0/Map.Service/bin/Debug/Map.Service.dll
Source/R_and_D/V0/Map.Service/bin/Debug/Map.Service.dll.config
Source/R_and_D/V0/Map.Service/bin/Debug/Map.Service.pdb
Source/R_and_D/V0/Map.Service/bin/Debug/TrackingMap.Service.dll
Source/R_and_D/V0/Map.Service/bin/Debug/TrackingMap.Service.dll.config
Source/R_and_D/V0/Map.Service/bin/Debug/TrackingMap.Service.pdb
Source/R_and_D/V0/Map.Service/bin/Release/CipherTools.dll
Source/R_and_D/V0/Map.Service/bin/Release/EntityFramework.SqlServer.dll
Source/R_and_D/V0/Map.Service/bin/Release/EntityFramework.SqlServer.xml
Source/R_and_D/V0/Map.Service/bin/Release/EntityFramework.dll
Source/R_and_D/V0/Map.Service/bin/Release/EntityFramework.xml
Source/R_and_D/V0/Map.Service/bin/Release/TrackingMap.Service.dll
Source/R_and_D/V0/Map.Service/bin/Release/TrackingMap.Service.dll.config
Source/R_and_D/V0/Map.Service/bin/Release/TrackingMap.Service.pdb
Source/R_and_D/V0/Map.v12.suo
Source/R_and_D/V0/Map/User_Data/log/
*.cache
Source/R_and_D/V0/TrackingMap.Vn/bin/Debug/TrackingMap.Vn.dll
Source/R_and_D/V0/TrackingMap.Vn/bin/Debug/TrackingMap.Vn.pdb
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TrackingMap.Vn.csproj.FileListAbsolute.txt
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TrackingMap.Vn.dll
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/TrackingMap.Vn.pdb
Source/R_and_D/V0/TrackingMap.Common/obj/Debug/TrackingMap.Common.dll
Source/R_and_D/V0/TrackingMap.Common/obj/Debug/TrackingMap.Common.pdb
Source/R_and_D/V0/Map.UI/bin/Microsoft.Web.Infrastructure.dll
Source/R_and_D/V0/Map.UI/bin/Newtonsoft.Json.dll
Source/R_and_D/V0/Map.UI/bin/Newtonsoft.Json.xml
Source/R_and_D/V0/Map.UI/bin/System.Net.Http.Formatting.dll
Source/R_and_D/V0/Map.UI/bin/System.Net.Http.Formatting.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Helpers.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Helpers.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Http.WebHost.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Http.WebHost.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Http.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Http.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Mvc.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Mvc.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Optimization.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Optimization.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.Razor.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.Razor.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.Deployment.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.Deployment.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.Razor.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.Razor.xml
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.dll
Source/R_and_D/V0/Map.UI/bin/System.Web.WebPages.xml
Source/R_and_D/V0/Map.UI/bin/TrackingMap.UI.dll
Source/R_and_D/V0/Map.UI/bin/TrackingMap.UI.dll.config
Source/R_and_D/V0/Map.UI/bin/TrackingMap.UI.pdb
Source/R_and_D/V0/Map.UI/bin/WebGrease.dll
Source/R_and_D/V0/Map.UI/obj/Debug/TrackingMap.UI.CaptionResource.resources
Source/R_and_D/V0/Map.UI/obj/Debug/TrackingMap.UI.dll
Source/R_and_D/V0/Map.UI/obj/Debug/TrackingMap.UI.pdb
Source/R_and_D/V0/Map.Service/obj/Debug/build.force
Source/R_and_D/V0/Map/obj/Debug/build.force
Source/R_and_D/V0/TrackingMap.Vn/obj/Debug/build.force
