@model TrackingMap.Models.AreaModel

@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/area.js")
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

<div class="panel panel-default panel-main">
    <div class="options-bar">

        <div class="form-group row ">

            <div class="col-md-6 left">
                <div class="left">
                    
                    <input value=@CaptionResource.Save type="button" id="btn_save" class="btn btn-default" >
                    <input value=@CaptionResource.Cancel type="button" id="btn_refresh" class="btn btn-default" />
                    <input type="hidden" id="selected_id"/>
                    <input type="hidden" id="selected_type" />
                </div>
            </div>

        </div>
    </div>

    <div class="panel-body">

        <div class="col-md-3">
            <div class="side-bar">
                <div id ="pnl_Area1">
                    <div id="grid_area1" class="full-width"></div>
                </div>

                <div id="pnl_Area2">
                    <div><h2>id="txt_area2_title1"</h2></div>

                    <div id="grid_area2" class="full-width"></div>
                </div>

                <div id="pnl_Area3">
                    <div><h2>id="txt_area3_title1"</h2></div>
                    <div><h3>id="txt_area3_title2"</h3></div>
                    <div id="grid_area3" class="full-width"></div>
                </div>



            </div>
        </div>

            <div class="col-md-9">
                <div id="Report_Map">
                    <div class="frame-map" id="mapContainer">
                    </div>
                </div>

            </div>

    </div>

</div>
