@model TrackingMap.Models.AreaModel

@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/area.js")
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))

<div class="panel panel-default panel-main">
    <div class="options-bar">

        <div class="form-group row ">

            <div class="col-md-6 left">
                <div class="left">
                    <input value=@CaptionResource.Save type="button" id="btn_save" class="btn btn-default" />
                    <input value=@CaptionResource.Cancel type="button" id="btn_refresh" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>

    <div class="panel-body">

        <div class="col-md-3">
            <div class="side-bar">

                <div class="col-sm-12">
                    <button class="btn btn-link"><i class="glyphicon glyphicon-plus"></i></button>
                    <button class="btn btn-link"><i class="glyphicon glyphicon-remove "></i></button>
                    <button class="btn btn-link"><i class="glyphicon glyphicon-edit "></i></button>
                    <button class="btn btn-link"><i class="glyphicon glyphicon-list-alt"></i></button>
                </div>
                <div class="col-sm-12">
                    @Html.DropDownList("ddl_distribut_area", new SelectList(
                        Model.AvailableAreasGroup,
                        "Value",
                        "Text"), new { @class = "form-control" })
                </div>
                <br/>
                <div class="col-sm-12">
                    <div id="Area_List"></div>
                </div>
            </div>
        </div>

            <div class="col-md-9">
                <div id="Report_Map">
                    <div class="frame-map" id="mapContainer">
                    </div>
                </div>

            </div>

    </div>

</div>
