
@using Jmelosegui.Mvc.GoogleMap


@Scripts.Render("~/Scripts/view/area.js")
@(Html.GoogleMap().ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js")))


<input type="hidden" id="selected_id" />


<div class="panel panel-default panel-main">
    <div class="options-bar">
        <div class="form-group row ">

            <div class="col-md-12">
                <div class="left">

                    <input value=@CaptionResource.Save type="button" id="btn_save" class="btn btn-default">
                    <input value=@CaptionResource.Cancel type="button" id="btn_refresh" class="btn btn-default" />
                </div>
                <div class="right">

                    <button id='btn_detail' class='btn btn-default'><i class='glyphicon glyphicon-zoom-in'></i></button>
                </div>
            </div>

        </div>
    </div>

    <div class="panel-body">

        <div class="col-md-3">
            <div class="side-bar">
                <div id="pnl_path">
                    <div id="txt_area2_title1"><h2></h2></div>
                </div>

                <div id="pnl_Area">
                    <div id="grid_area" class="full-width"></div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="Report_Map">
                <div class="frame-map" id="mapContainer">
                </div>
            </div>

        </div>

    </div>

</div>
