@font-face {
    font-family: 'far_Yekan';
    src: url('/Content/fonts/far_Yekan.ttf') format('truetype');
}

/**-------------------**/
/*login*/
.login-form {
    float: right;
    margin: 10px;
    text-align: right;
    width: 400px;
    overflow-x: hidden !important;
    margin-right: 25px;
}

/**-------------------**/
/*kendo*/

div.k-grid-header{
    padding-right: 0px !important ;
    padding-left: 17px !important ;
}
/**-------------------**/
* {
    font-family: far_Yekan,tahoma,arial;
    font-size: 12px;
}

body {
    padding-top: 1px;
    padding-bottom: 20px;
    color: #868686;
    background: #EEE url('/Content/img/bg-default.jpg') !important;
}

#main-content {
    margin-top: 0px;
    margin-right: 215px;
    min-height: 700px;
    background: #f7f7f7 url("/Content/img/body-bg.png");
    box-shadow: 0 0 10px #757575;
    -moz-box-shadow: 0 0 10px #757575;
    -webkit-box-shadow: 0 0 10px #757575;
}

.container-fluid {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


    .container-fluid::before, .container-fluid::after {
        content: "";
        display: table;
        line-height: 0;
    }

    .container-fluid::after {
        clear: both;
    }

    .container-fluid::before, .container-fluid::after {
        content: "";
        display: table;
        line-height: 0;
    }

/* main container */
#container {
}

.fixed-top #container {
    margin-top: 60px;
}

/*logo*/
#header .brand {
    background: #333333;
    margin-top: 0px !important;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 18px 35.5px;
    width: 144px;
}


.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.nav-collapse.collapse {
    height: auto;
    overflow: visible;
}

.collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}

.sidebar-toggler {
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    display: block;
    float: left;
    margin-top: 12px;
    width: 23px;
    height: 25px;
    background: #e9ebec url("/Content/img/body-bg.png") repeat scroll;
}

    .sidebar-toggler:before {
        margin: 2px 2px 7px 8px;
        display: block;
        font-size: 12px;
        font-family: 'Glyphicons Halflings';
        height: auto;
        content: "\e080";
        font-weight: 300;
        text-shadow: none;
    }

    .sidebar-toggler.closed:before, .sidebar-closed .sidebar-toggler:before {
        margin: 2px 2px 7px 10px;
        content: "\e079";
    }

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    /*margin-left: 25px;*/
}

.sidebar-closed #sidebar {
    margin-left: -190px;
}

#sidebar > ul > li.active > ul.sub {
    display: block;
}

#sidebar > ul > li > ul.sub {
    clear: both;
    display: none;
    list-style: outside none none;
    margin: 0;
}

#sidebar > ul > li.active > a .arrow {
    margin-left: 1px;
}

    #sidebar > ul > li.active > a .arrow.open {
        margin-right: 0px;
    }


#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-right: 4px solid #f3f3f3;
    border-top: 4px solid transparent;
    float: left;
    height: 0;
    margin-left: 5px;
    margin-top: 27px;
    width: 0;
}

#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #f3f3f3;
    float: left;
    height: 0;
    margin-left: 3px;
    margin-top: 27px;
    width: 0;
}

#sidebar > ul > li > ul.sub {
    display: none;
    list-style: none;
    clear: both;
    margin: 0px;
}

#sidebar > ul > li.active > ul.sub {
    display: block;
}

#sidebar > ul > li > ul.sub > li {
    background: none !important;
    padding: 0px;
}

    #sidebar > ul > li > ul.sub > li > a {
        display: block;
        position: relative;
        padding: 10px 60px 10px 10px;
        color: #ccc;
        text-decoration: none;
        text-shadow: 0 1px 1px #000;
        font-size: 13px;
        font-weight: normal;
    }

        #sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover {
            background: url("/Content/img/submenu_hover.png") !important;
        }



a, a:hover {
    text-shadow: none !important;
    color: #434343; /*#22878E;*/
}

ul.faq-list li a:hover, ul.faq-list li a.active {
    background: #eee;
}

#header.navbar-inverse .navbar-inner {
    background: url("/Content/img/top-bg.jpg") repeat-x scroll 0 0 #4e4e4e !important;
}

#header.navbar-inverse .navbar-inner {
    border: medium none !important;
    height: 60px;
}

#header.navbar-inverse .navbar-inner {
    background: #4e4e4e url("/Content/img/top-bg.jpg") repeat-x !important;
    min-height: 40px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#4e4e4e',GradientType=0);
    border-width: 0;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}

#header .title {
    font-size: 32px;
    color: #AEEFFB;
}

#sidebar > ul {
    border-radius: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

    #sidebar > ul > li {
        background: url("/Content/img/side-bar-list-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        display: block;
        line-height: 30px;
        margin: 0 0 1px;
        padding: 0;
    }


        #sidebar > ul > li a i {
            color: #fff !important;
        }

        #sidebar > ul > li > a:hover, #sidebar > ul > li:hover > a {
            color: #fff !important;
            background: url("/Content/img/side-bar-list-bg.png");
        }

        #sidebar > ul > li.active > a {
            background: url("/Content/img/side-bar-list-bg.png");
        }

        #sidebar > ul > li > ul.sub > li > a {
            color: #fff;
        }

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}

#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid #888;
}

    #sidebar > ul > li > ul.sub > li:last-child {
        border-bottom: none;
    }


#sidebar > ul > li > a {
    border: 0 none;
    border-radius: 0 !important;
    color: #fff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 15px;
    position: relative;
    text-decoration: none;
    line-height: 53px;
}

ul.sidebar-menu span.icon-box {
    background: url("/Content/img/side-bar-list-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding: 18px;
    margin-left: 10px;
    text-align: center;
}


#sidebar .navbar-search {
    border: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) {
    #sidebar {
        background-color: #333333 /*#29a3ac*/ !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }

        #sidebar > ul > li > a {
            border-bottom: 1px solid #434343 /*#30c1cb*/ !important;
        }

            #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
                border-bottom: 1px solid #434343 /*#30c1cb*/ !important;
            }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.vert-nav-tabs {
    float: right;
    border-bottom: 0;
}
.vert-nav-tabs li {
    float: none;
    margin: 0;
}

.vert-nav-tabs a {
    margin-right: 0;
    border: 0;
    background-color: #a5a5a5;
}

.vert-tab-content {
    margin-right: 45px;
}

.vert-tab-pane {
    display: none;
    padding: 1.6rem;
    overflow-y: auto;
}
  
.vert-active { display: block; }

.page-title {
    display: block;
    font-family: far_Yekan,tahoma;
    font-size: 16px;
    font-weight: normal !important;
    margin: 13px 0 8px;
}

footer {
    width: 100%;
    height: 10px;
    text-align: center;
}

.options-bar { 
    width: 100%;
    height: 50px;
    background: #4B4B4B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.path-bar {
    width: 100%;
    height: 40px !important;
}

.k-header {
    text-align: center !important;
}

.header-bar
 {
    background: #ddd;
    border: solid 1px #ccc;
    padding:10px;
    margin-bottom:2px;
 }

.panel-main {
    min-height: 650px;
}
.panel-value{
    border: 1px solid #f3f3f3;
    padding: 5px;
}

.side-bar
 {
    background: #ddd;
    border: solid 1px #ccc;
}

.frame-map {
    background: #f5f5f5;

    border: solid 1px #ccc;
}
.frame-map-with-header {
    background: #f5f5f5;
    height: 550px;
    border: solid 1px #ccc;
}

#mapContainer {
    width: 100%;
    height: 100%;
}

.frame-side-list {
    height: 700px !important;
}

.frame-condition {
    margin: 5px !important;
}

.frame-border {
    margin: 5px !important;
    padding: 5px !important;
    border: solid 1px #ccc;
        overflow-y: auto;
}

.frame-list {
    height: 700px !important;
}

.full-height {
    height: 100%;
    position: absolute;
}

.full-width {
    width: 100%;
}

.chk_selected {
    background: #d2691e;
}

.left {
    float: left;
}

.right {
    float: right;
}
.color-gray {
    color: #444;
}
.color-light-gray {
    color: #888;
}

.color-back-ligt-gray {
    background: #f3f3f3;
    color: #444;
    padding: 5px;
}


.color-back-gray {
    background: #333333;
    color: #ffffff;
    padding: 5px;
}

.color-back-orange {
    background: #d2691e;
    color: #ffffff;
    padding: 5px;
}
.color-back-Yellow {
    background: goldenrod;
    color: #000;
    padding: 5px;
}

.color-back-blue {
    background: lightseagreen;
    color: #000;
}

.color-back-Red {
    background: darkred;
    color: #ffffff;
}

.btn-grid{
    padding: 1px;
    color: #555;
}

.large-btn{
    width :100px;
}




/*map*/
